 <!-- Modal -->
 <div class="modal fade bd-example-modal-xl" id="viewSection" tabindex="-1" role="dialog" aria-labelledby="view"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
         <div class="modal-content">

             <iframe></iframe>

         </div>
     </div>
 </div>