<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <title>Login | </title>
    <link rel="icon" type="image/x-icon" href="/dashboard/assets/eksuthlogo2.png" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Carter+One&family=Patua+One&display=swap"
        rel="stylesheet">
    <link href="/dashboard/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/progressively/dist/progressively.min.css">
    <script src="https://cdn.jsdelivr.net/npm/progressively/dist/progressively.min.js"></script>

    <% var hours = new Date().getHours(); %> <% if(hours > 6 && hours < 20){ %>
    <%- include('./dark') %>
    <% } else if(hours <= 6 || hours >=20) {%>
    <%- include('./dark') %> <% } %>

    <link href="/dashboard/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
    <script src="/dashboard/plugins/sweetalerts/promise-polyfill.js"></script>
</head>

<body class="form">