<%-include('elements/top-navbar')%>
<%-include('elements/second-navbar')%>
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <%-include('elements/sidebar')%>