<%- include('../../componentSection/auth/loginComponents/header') %>

<div class="form-container">
  <div class="form-form">
    <div class="form-form-wrap">
      <div class="form-container">
        <%- include('../../componentSection/auth/adminLoginComponent/adminLogin') %>
        <%- include('../../componentSection/auth/adminLoginComponent/passwordReset') %>

      </div>
    </div>
  </div>
  <div class="form-image">
    <div class="l-image" style="background-image:url(/secondary/assets/img/logo.png); background-size: 16rem;"></div>
  </div>
</div>

<%- include('../../componentSection/auth/loginComponents/footer') %>
</body>

</html>