 <div id="toolbar-container">
     <button class="ql-bold" data-toggle="tooltip" data-placement="bottom" title="Bold"></button>
     <button class="ql-underline" data-toggle="tooltip" data-placement="bottom" title="Underline"></button>
     <button class="ql-italic" data-toggle="tooltip" data-placement="bottom" title="Add italic text <cmd+i>"></button>
     <!-- <button class="ql-image" data-toggle="tooltip" data-placement="bottom"
                                                title="Upload image"></button> -->

     <button class="ql-blockquote" data-toggle="tooltip" data-placement="bottom" title="Blockquote"></button>

     <button class="ql-script" value="sub" data-toggle="tooltip" data-placement="bottom" title="SubScript"></button>
     <button class="ql-script" value="super" data-toggle="tooltip" data-placement="bottom" title="SuperScript"></button>

     <button class="ql-view" data-toggle="tooltip" data-placement="bottom" title="Preview"></button>
 </div>