

 <button style="height: 60px;
    width: 60px;" class="tour btn btn-outline-info col-2 info mb-2 rounded rounded-circle add" title='Add '
     data-toggle="modal" data-target=".bd-example-modal-xl" data-placement="left" data-html="true">
     <i class="fa fa-pen"></i>
 </button>

 <button style="bottom: 95px; height: 50px;
        width: 50px;" title='Delete Selected' data-placement="left" data-html="true"
     class="col-2 danger mb-2 rounded tour btn btn-danger rounded-circle delete-multiple-btn">
     <i class="fa fa-trash-alt"></i>
 </button>


<!-- <a class="tour btn btn-rounded btn-info" href="javascript:void(0);" onclick="
              if($('#container').hasClass('main-container sidebar-closed')){
                $('.sidebarCollapse').trigger('click');       
            } else {      
              }
              setTimeout(()=>{
              $('.mail-menu').trigger('click'); 

                javascript:introJs().setOption('showProgress', true).addHints()
                .onchange( e =>{
                    console.log($(e).attr('data-step'))
                    if($(e).attr('data-step') == 4){
                if($('#container').hasClass('main-container sbar-open')){
                $('.sidebarCollapse').trigger('click');       
            }  
                    }
                }).start();
            }, 1000)
                "> <i class="fa fa-lightbulb-o"></i></a> -->