<label style="width: 37px; height: 10px;" class="switch s-icons s-outline  s-outline-success  mb-4 mr-2">
  <i>.</i>
    <input id="published" class="m-published published" type="checkbox" name="published" checked=""
        onchange="(this.checked ? this.value = this.checked: this.value = false); console.log(this.value)">
    <span class="slider round"></span>
</label>