<div id="sweetalert" style="position: fixed;
    z-index: 1100; width: 100%;
    margin: auto; top: 0;">
    <div class="alert alert-dismissible fade show" role="alert">
        <strong> </strong>
        <span class="response"> </span>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</div>