  <!--=================================
      Category -->
  <section class="space-pt">
      <div class="bg-primary bg-overlay-theme-97 space-ptb"
          style="background-image: url('images/bg/04.jpg'); background-position: center;">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-8">
                      <div class="section-title text-center mb-5 mb-xl-4">
                          <h2 class="text-white">Top Categories </h2>
                          <p class="lead text-white">I truly believe Augustine’s words are true and if you look at
                              history you know it is true. There are many people in the world with amazing talents who
                              realize.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="bg-white mt-n5 e-mt-sm-n4 e-mt-md-n5 e-mt-lg-n6 position-relative z-index-1 rounded-sm">
              <div class="row mb-3">
                  <div class="col-sm-12">
                      <div class="categories categories-style-02">
                          <div class="categories-item">
                              <div class="categories-icon">
                                  <i class="flaticon-money fa-1x mt-3"></i>
                              </div>
                              <a href="#" class="categories-title">Design</a>
                          </div>
                          <div class="categories-item">
                              <div class="categories-icon">
                                  <i class="flaticon-chat fa-1x mt-3"></i>
                              </div>
                              <a href="#" class="categories-title">Development</a>
                          </div>
                          <div class="categories-item">
                              <div class="categories-icon">
                                  <i class="flaticon-checklist fa-1x mt-3"></i>
                              </div>
                              <a href="#" class="categories-title">Marketing</a>
                          </div>
                          <div class="categories-item">
                              <div class="categories-icon">
                                  <i class="flaticon-studying fa-1x mt-3"></i>
                              </div>
                              <a href="#" class="categories-title">IT & software</a>
                          </div>
                          <div class="categories-item">
                              <div class="categories-icon">
                                  <i class="flaticon-entrepreneur fa-1x mt-3"></i>
                              </div>
                              <a href="#" class="categories-title">Photography</a>
                          </div>
                          <div class="categories-item">
                              <div class="categories-icon">
                                  <i class="flaticon-sales fa-1x mt-3"></i>
                              </div>
                              <a href="#" class="categories-title">Music</a>
                          </div>
                          <div class="categories-item">
                              <div class="categories-icon">
                                  <i class="flaticon-lecture fa-1x mt-3"></i>
                              </div>
                              <a href="#" class="categories-title">Support</a>
                          </div>
                          <div class="categories-item">
                              <div class="categories-icon">
                                  <i class="flaticon-online-learning-2 fa-1x mt-3"></i>
                              </div>
                              <a href="#" class="categories-title">Personal Development</a>
                          </div>
                          <div class="categories-item">
                              <div class="categories-icon">
                                  <i class="flaticon-bullhorn fa-1x mt-3"></i>
                              </div>
                              <a href="#" class="categories-title">Business</a>
                          </div>
                          <div class="categories-item">
                              <div class="categories-icon">
                                  <i class="flaticon-statistics fa-1x mt-3"></i>
                              </div>
                              <a href="#" class="categories-title">Databases</a>
                          </div>
                          <div class="categories-item">
                              <div class="categories-icon">
                                  <i class="flaticon-student fa-1x mt-3"></i>
                              </div>
                              <a href="#" class="categories-title">Management</a>
                          </div>
                          <div class="categories-item">
                              <div class="categories-icon">
                                  <i class="flaticon-hand fa-1x mt-3"></i>
                              </div>
                              <a href="#" class="categories-title">Mobile Apps</a>
                          </div>
                          <div class="clearfix"></div>
                          <div class="show-more-cat">
                              <a href="#" class="">Show more<i class="fas fa-arrow-right icon-btn"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--=================================
      Category -->