<%- include('../../componentSection/adminDashboard/partials/header') %>
<style>
    #content:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background: rgba(136, 142, 168, 0.21176470588235294);
        width: 100%;
        height: 183px;
    }
</style>


<!--  BEGIN CONTENT PART  -->
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row layout-top-spacing">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <p><i class="fa fa-home"></i> Welcome</p>
                <p class="font-weight-bolder"> <%=master.username%>!</p>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-card-four">
                    <div class="widget-content">
                        <div class="w-content">
                            <div class="w-info">
                                <h6 class="value">141</h6>
                                <p class="">Resources</p>
                            </div>
                            <div class="">
                                <div class="w-icon">
                                    <i class="fa fa-book" style="font-size: 24px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 97%"
                                aria-valuenow="97" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-card-four">
                    <div class="widget-content">
                        <div class="w-content">
                            <div class="w-info">
                                <h6 class="value">20,000</h6>
                                <p class="">Users</p>
                            </div>
                            <div class="">
                                <div class="w-icon">
                                    <i class="fa fa-users" style="font-size: 24px"></i>
                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 57%"
                                aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-card-four">
                    <div class="widget-content">
                        <div class="w-content">
                            <div class="w-info">
                                <h6 class="value">20,000</h6>
                                <p class="">Sponsors</p>
                            </div>
                            <div class="">
                                <div class="w-icon">
                                    <i class="fa fa-handshake" style="font-size: 24px"></i>
                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 87%"
                                aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-card-four">
                    <div class="widget-content">
                        <div class="w-content">
                            <div class="w-info">
                                <h6 class="value">₦ 5,000</h6>
                                <p class="">Revenue</p>
                            </div>
                            <div class="">
                                <div class="w-icon">
                                    <i class="fa fa-coins" style="font-size: 24px"></i>
                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 37%"
                                aria-valuenow="37" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>



           

            
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-card-two">
                    <div class="table-responsive mb-4 mt-4">
                        <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>School</th>
                                    <th>Class</th>
                                    <!-- <th>Start date</th>
                                    <th>Salary</th> -->
                                    <th>Joined</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Brenden Wagner</td>
                                    <td>Software Engineer</td>
                                    <td>San Francisco</td>
                                    <td>28</td>
                                    <!-- <td>2011/06/07</td>
                                    <td>$206,850</td> -->
                                    <td>1314</td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="usr-img-frame mr-2 rounded-circle">
                                                <img alt="avatar" class="img-fluid rounded-circle"
                                                    src="assets/img/boy-2.png">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-dark btn-sm">Open</button>
                                            <button type="button"
                                                class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split"
                                                id="dropdownMenuReference28" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-reference="parent">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference28">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>


<%- include('../../componentSection/adminDashboard/partials/footer') %>

<!-- <script src="/dashboard/plugins/apex/apexcharts.min.js"></script> -->
<!-- <script src="/dashboard/assets/js/dashboard/dash_2.js"></script> -->

   <script src="/dashboard/plugins/select2/select2.min.js"></script>


   <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
   <script src="/dashboard/plugins/table/datatable/datatables.js"></script>
   <script src="/dashboard/plugins/table/datatable/button-ext/dataTables.buttons.min.js"></script>
   <script src="/dashboard/plugins/table/datatable/button-ext/jszip.min.js"></script>
   <script src="/dashboard/plugins/table/datatable/button-ext/buttons.html5.min.js"></script>
   <script src="/dashboard/plugins/table/datatable/button-ext/buttons.print.min.js"></script>

   <script>
       $('#html5-extension').DataTable({
           dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
           buttons: {
               buttons: [{
                       extend: 'copy',
                       className: 'btn'
                   },
                   {
                       extend: 'csv',
                       className: 'btn'
                   },
                   {
                       extend: 'excel',
                       className: 'btn'
                   },
                   {
                       extend: 'print',
                       className: 'btn'
                   }
               ]
           },
           "oLanguage": {
               "oPaginate": {
                   "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
                   "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
               },
               "sInfo": "Showing page _PAGE_ of _PAGES_",
               "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
               "sSearchPlaceholder": "Search...",
               "sLengthMenu": "Results :  _MENU_",
           },
           "stripeClasses": [],
           "lengthMenu": [7, 10, 20, 50],
           "pageLength": 7
       });
   </script>

</body>

</html>