<div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
    <div id="skill" class="section skill">
        <div class="info">
            <h5 class="">Skills</h5>
            <div class="row progress-bar-section">

                <div class="col-md-12 mx-auto">
                    <div class="form-group">

                        <div class="row">
                            <div class="col-md-11 mx-auto">
                                <div class="input-form">
                                    <input type="text" class="form-control" id="skills"
                                        placeholder="Add Your Skills Here" value="">
                                    <button id="add-skills" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-11 mx-auto">
                    <div class="custom-progress top-right progress-up" style="width: 100%">
                        <p class="skill-name">PHP</p>
                        <input type="range" min="0" max="100" class="custom-range progress-range-counter" value="25">
                        <div class="range-count"><span class="range-count-number" data-rangecountnumber="25">25</span>
                            <span class="range-count-unit">%</span></div>
                    </div>
                </div>
                <div class="col-md-11 mx-auto">
                    <div class="custom-progress top-right progress-up" style="width: 100%">
                        <p class="skill-name">Wordpress</p>
                        <input type="range" min="0" max="100" class="custom-range progress-range-counter" value="50">
                        <div class="range-count"><span class="range-count-number" data-rangecountnumber="50">50</span>
                            <span class="range-count-unit">%</span></div>
                    </div>
                </div>
                <div class="col-md-11 mx-auto">
                    <div class="custom-progress top-right progress-up" style="width: 100%">
                        <p class="skill-name">Javascript</p>
                        <input type="range" min="0" max="100" class="custom-range progress-range-counter" value="70">
                        <div class="range-count"><span class="range-count-number" data-rangecountnumber="70">70</span>
                            <span class="range-count-unit">%</span></div>
                    </div>
                </div>
                <div class="col-md-11 mx-auto">
                    <div class="custom-progress top-right progress-up" style="width: 100%">
                        <p class="skill-name">jQuery</p>
                        <input type="range" min="0" max="100" class="custom-range progress-range-counter" value="60">
                        <div class="range-count"><span class="range-count-number" data-rangecountnumber="60">60</span>
                            <span class="range-count-unit">%</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>